<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Python review lab

Week 1 | Day 2 | Lab 1 

---

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Miscellaneous-problems" data-toc-modified-id="Miscellaneous-problems-1">Miscellaneous problems</a></span><ul class="toc-item"><li><span><a href="#1.-What-are-the-types-of-the-following-variables?" data-toc-modified-id="1.-What-are-the-types-of-the-following-variables?-1.1">1. What are the types of the following variables?</a></span></li><li><span><a href="#2.-What-is-the-difference-between-a-&quot;mutable&quot;-and-an-&quot;immutable&quot;-object?" data-toc-modified-id="2.-What-is-the-difference-between-a-&quot;mutable&quot;-and-an-&quot;immutable&quot;-object?-1.2">2. What is the difference between a "mutable" and an "immutable" object?</a></span></li><li><span><a href="#3.-Print-the-student_names-list." data-toc-modified-id="3.-Print-the-student_names-list.-1.3">3. Print the <code>student_names</code> list.</a></span></li><li><span><a href="#4.-Print-the-names-of-the-first-and-last-students-in-the-list." data-toc-modified-id="4.-Print-the-names-of-the-first-and-last-students-in-the-list.-1.4">4. Print the names of the first and last students in the list.</a></span></li><li><span><a href="#5.-Print-the-first-5-names-in-the-student-list." data-toc-modified-id="5.-Print-the-first-5-names-in-the-student-list.-1.5">5. Print the first 5 names in the student list.</a></span></li><li><span><a href="#6.-Combine-the-9th-and-10th-student-names-into-a-single-string,-separated-by-a-space,-and-assign-to-a-variable." data-toc-modified-id="6.-Combine-the-9th-and-10th-student-names-into-a-single-string,-separated-by-a-space,-and-assign-to-a-variable.-1.6">6. Combine the 9th and 10th student names into a single string, separated by a space, and assign to a variable.</a></span></li><li><span><a href="#7.-Append-an-animal-to-the-list-of-animals." data-toc-modified-id="7.-Append-an-animal-to-the-list-of-animals.-1.7">7. Append an animal to the list of animals.</a></span></li><li><span><a href="#8.-Print-the-length-of-the-animals-list." data-toc-modified-id="8.-Print-the-length-of-the-animals-list.-1.8">8. Print the length of the animals list.</a></span></li><li><span><a href="#9.-Show-two-different-ways-to-combine-the-animals-list-and-numbers-list." data-toc-modified-id="9.-Show-two-different-ways-to-combine-the-animals-list-and-numbers-list.-1.9">9. Show two different ways to combine the animals list and numbers list.</a></span></li><li><span><a href="#10.-Remove-my-name-from-the-list-and-insert-your-own-in-the-same-place." data-toc-modified-id="10.-Remove-my-name-from-the-list-and-insert-your-own-in-the-same-place.-1.10">10. Remove my name from the list and insert your own in the same place.</a></span></li><li><span><a href="#11.-Find-the-index-of-'a'-in-the--mix--list." data-toc-modified-id="11.-Find-the-index-of-'a'-in-the--mix--list.-1.11">11. Find the index of <code>'a'</code> in the  <code>mix</code>  list.</a></span></li><li><span><a href="#12.-Reverse-the-mix-list." data-toc-modified-id="12.-Reverse-the-mix-list.-1.12">12. Reverse the <code>mix</code> list.</a></span></li><li><span><a href="#13.-Remove-the-last-element-of-mix-and-assign-it-to-a-variable." data-toc-modified-id="13.-Remove-the-last-element-of-mix-and-assign-it-to-a-variable.-1.13">13. Remove the last element of <code>mix</code> and assign it to a variable.</a></span></li><li><span><a href="#14.-Count-the-number-of-times-0-appears-in-the-following-list." data-toc-modified-id="14.-Count-the-number-of-times-0-appears-in-the-following-list.-1.14">14. Count the number of times <code>0</code> appears in the following list.</a></span></li><li><span><a href="#15.-Try-to-convert-elements-in-a-list-to-floats." data-toc-modified-id="15.-Try-to-convert-elements-in-a-list-to-floats.-1.15">15. Try to convert elements in a list to floats.</a></span></li><li><span><a href="#16.-While-loops-and-strings." data-toc-modified-id="16.-While-loops-and-strings.-1.16">16. While loops and strings.</a></span><span>

## Miscellaneous problems

---

### 1. What are the types of the following variables?

In [3]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'MYR':'Malaysian Ringgit', 'SGD':'Singapore Dollar'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [7]:
print("a is",type(a))
print("b is",type(b))
print("c is",type(c))
print("d is",type(d))
print("e is",type(e))
print("f is",type(f))
print("g is",type(g))
print("h is",type(h))
print("i is",type(i))

a is <class 'int'>
b is <class 'float'>
c is <class 'list'>
d is <class 'dict'>
e is <class 'tuple'>
f is <class 'dict'>
g is <class 'bool'>
h is <class 'bool'>
i is <class 'str'>

---

### 2. What is the difference between a "mutable" and an "immutable" object? 

Answer in one sentence.

Mutable object allow you change its value while immutable object doesn't.

---

### 3. Print the `student_names` list.

In [8]:
student_names = ['s1','s2','s3','s4','s5','s6','s7','s8','s9','s10']

In [11]:
print(student_names)

['s1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 's9', 's10']

---

### 4. Print the names of the first and last students in the list.

In [15]:
print(student_names[0])
print(student_names[9])

s1
s10

---

### 5. Print the first 5 names in the student list.

In [16]:
print(student_names[0:4])

['s1', 's2', 's3', 's4']

---

### 6. Combine the 9th and 10th student names into a single string, separated by a space, and assign to a variable.

In [18]:
var=student_names[8]+" "+student_names[9]
var

's9 s10'

---

### 7. Append an animal to the list of animals.

In [19]:
animals = ['duck', 'rat', 'boar', 'elephant', 'mammoth', 'gazelle']

In [20]:
animals.append('mouse')

---

### 8. Print the length of the animals list.

In [21]:
len(animals)

7

---

### 9. Show two different ways to combine the animals list and numbers list.

In [86]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [87]:
newlist=animals+numbers
print(newlist,end='')

['duck', 'rat', 'boar', 'elephant', 'mammoth', 'gazelle', 'mouse', 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]

In [88]:
newlist=[]
newlist.append(animals+numbers)
print(newlist,end='')

[['duck', 'rat', 'boar', 'elephant', 'mammoth', 'gazelle', 'mouse', 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]]

---

### 10. Remove the name 'chris' from the list and insert your own in the same place.

In [32]:
names = ['doug', 'billy', 'chris', 'kian', 'sam']

In [33]:
names.remove('chris')
names.insert(2,"Inder")
names

['doug', 'billy', 'Inder', 'kian', 'sam']

---

### 11. Find the index of `'a'` in the  `mix`  list.

In [35]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [36]:
mix.index("a")

5

---

### 12. Reverse the `mix` list.

In [40]:
mix.reverse()
print(mix)

[(1, 2, 3), 'a', 'flower', 12, 12.999, {'key': 'value'}, ['billy', 'sam']]

---

### 13. Remove the last element of `mix` and assign it to a variable.

In [41]:
mix.pop()

['billy', 'sam']

---

### 14. Count the number of times `0` appears in the following list.

In [43]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [45]:
binary.count(0)

16

---

### 15. Try to convert elements in a list to floats.

Create a new list with the converted numbers. If something cannot be converted, skip it and append nothing to the new list.

> Hint: Use a try-except statement, see [here](http://www.pythonforbeginners.com/error-handling/python-try-and-except) or [here](https://www.programiz.com/python-programming/exception-handling).

In [53]:
corrupted = ['!1', '23.1', '23.4.5', '??12', '.12', '12-12', '-11.1', '0-1', '*12.1', '1000']

In [60]:
newlist=[]
for i in corrupted:
    try:
        newlist.append(float(i))
    except:
        pass
    
print(newlist)

[23.1, 0.12, -11.1, 1000.0]

---

### 16. While loops and strings.

Iterate over the following sentence and count the number of vowels in the sentence.

In [61]:
sentence = "IF I PRACTICE A LOT I WILL SOON BECOME A VERY GOOD DATA SCIENTIST"

In [74]:
count=0
for i in sentence:
    if i in "AEIOU":
        count += 1
count

23

### 17. Functions

Based on your code in question 16 above, write a function that receives a sentence as a parameter and returns the number of vowels in the sentence. Then calculate the number of vowels in the following:

sentence_2 = "THIS IS ANOTHER SENTENCE WITH A SOME VOWELS"

In [85]:
def vowelfun():
    name=input("Insert sentence:")
    count1=0
    for i in name:
        if i in "AEIOU":
            count1 += 1
    return count1

vowelfun()

Insert sentence:THIS IS ANOTHER SENTENCE WITH A SOME VOWELS

14

---